
.bgcolor{
    width: 100%;
    height: 78%;
}

.Colorcard{
    width: 180px;
    height:220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
    box-shadow: 1px 1px 6px 0 rgb(84, 84, 84);
}

.colortext{
    width: 90%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.colortext span{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.colortext h2{
    font-size: 1.1rem;
   font-family: "Roboto",sans-serif;
  
}
